{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'blog:user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{object.date_posted|date:"j F y" }}</small>
		{% if object.author != user %}
               <form action = "{% url 'blog:like' object.pk %}"
              
               method="POST">
                   {% csrf_token %}
                   <button type ='submit',name="post_id",value="{{object.pk}}",class="btn btn-danger">Like </button> - {{ number_of_likes}} Likes
          
          
               </form>
               {% endif %}
                {% if object.author == user %}
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:post-update' object.pk %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>



	<h4>Comments</h4>
  <hr>
  {% if comments %}
  {% for comment in comments %}
  {% if user.is_authenticated %}
  <div class="media mb-4">
              <div class="media-body" style="with: 15px;">
      <h5 style="color: rgb(165, 165, 240);display: inline;">
          {{comment.comment_author}} 
      {% if request.user.id == comment.comment_author.user_id %}
      <a href="{% url 'blog:comment_remove' comment.pk %}" style="float:right">&#9747;</a>
      {% endif %}
      </h5>
       <p style="color:rgb(69, 68, 68);display: inline;"><small>{{comment.comment_date}}</small></p>

     <br>
     <p>{{comment.comment_content|linebreaks}}</p>
   
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% else %}
  <div class = "alert alert-success">
    There is no comment : (   Make the first comment!
  </div>
  {% endif %}


  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
      <form method = "POST" action = "{% url 'blog:comment' object.pk %}">
      {% csrf_token %}
        <div class="form-group">
        <!--<label for="formGroupExampleInput">Comment</label> -->
          <textarea name = "comment_content" class="form-control" rows="3"></textarea>
    
<br>
        
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>



        </div>




	
    </article>
<article>
<main role="main" class="container">
        <div class="row">
        <div class="col-md-16">
          {% if messages %}
            {% for message in messages %}
              <div class='alert alert-{{message.tags}}'>
                {{ message }}
              </div>
            {% endfor %}
        
          {% endif %}

        </div>
       <div class="col-md-16">  
            <div class="content-section">
            <h3>Information about {{ object.author.username }} </h3>
            <p class='text-muted'>You can see information about the advertiser here.
                <ul class="list-group">
                <li class="list-group-item
                list-group-item-light"><b>Name:</b> {{object.author.profile.name}}</li>
                <li class="list-group-item list-group-item-light"><b>Name: </b>{{object.author.profile.surname}}</li>
                <li class="list-group-item list-group-item-light"><b>Surname: </b>{{object.author.profile.gender}}</li>
                <li class="list-group-item list-group-item-light"><b>Age: </b>{{object.author.profile.age}}</li>
                <li class="list-group-item list-group-item-light"><b>City: </b>{{object.author.profile.city}}</li>
		<li class="list-group-item list-group-item-light"><b>City of arival: </b>{{object.author.profile.cityofarival}}</li>
                <li class="list-group-item list-group-item-light"><b>School: </b>{{object.author.profile.school}}</li>
                <li class="list-group-item list-group-item-light"><b>Department: </b>{{object.author.profile.department}}</li>
                <li class="list-group-item list-group-item-light"><b>Pets: </b>{{object.author.profile.pets}}</li>
		<li class="list-group-item list-group-item-light"><b>Smoking Cigarettes: </b>{{object.author.profile.smoke}}</li>
                <li class="list-group-item list-group-item-light"><b>Drinking alchool: </b>{{object.author.profile.alchool}}</li>
                <li class="list-group-item list-group-item-light"><b>Home situation: </b>{{object.author.profile.home}}</li>
		</ul>
            </p>
            </div>
        </div>
     </div>
    </main>
</article>
    

{% endblock content %}
